@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL THEME */

body {
  @apply bg-[#0f172a] text-gray-200;
  font-family: "Inter", sans-serif;
}

/* GLASS EFFECT */

.glass {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(14px);
  border: 1px solid rgba(255, 255, 255, 0.08);
}

/* Hide scrollbar but keep scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}